@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&display=swap');
/* font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif; */


p li{
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5{
    font-family: 'Lato', sans-serif;
}

.container{
    display: flex;   
    flex-direction: column;
    margin-right: 10%;
    margin-left: 10%;
}

.bio{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bio h2, h3{
    margin: 0;
}

.education{
    display: flex;
    flex-direction: column;
}

.experience{
    display: flex;
    flex-direction: column;
}

.inst{
    display: flex;
    justify-content: space-between;
}

.related{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.heading h4{
    margin-bottom: 0;
}

.inst h4{
    margin: 0;
}

.fieldset{
    display: flex;
    flex-direction: column;
}

.form-field{
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
}

label{
    font-family: 'Lato', sans-serif;
}

#form_page .container{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 30%;
    margin-right: 30%;
}


input[type="text"], input[type="email"], select{
    box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border:1px solid #BEBEBE;
	padding: 7px;
	margin:0px;
}

.error-box{
	border:2px solid red !important; 
}

input[type="submit"]{
    background: #4B99AD;
	padding: 8px 15px 8px 15px;
	border: none;
	color: #fff;
}

input[type="submit"]:hover{
    background: #4691A4;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}



