.container{
    display: flex;   
    flex-direction: column;
}

.bio{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bio h2, h3{
    margin: 0;
}

.education{
    display: flex;
    flex-direction: column;
}

.experience{
    display: flex;
    flex-direction: column;
}

.inst{
    display: flex;
    justify-content: space-between;
}

.related{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}



